h3{
    color: aliceblue;
    background-color: brown;
}
h2{
    color: aqua;
}

.t_right{
            text-align: right;
        }
 .t_center{
            text-align: center;
        }

        .t_decor_under{
            text-decoration: underline ;
        }
        .t_decor_over{
            text-decoration: overline ;
        }
        .t_decor_line{
            text-decoration:line-through ;
        }

         .t_indent{
            text-indent: 160px;
        }

         .letter_space{
            letter-spacing: 10px;
        }
        .word_space{
            word-spacing: 30px;
        }

        .line_height{
            line-height: 25px;
        }

        .t_shadow{
             color: palevioletred ;
            text-shadow: 5px 5px 10px grey;
            font-size: 40px;
            text-align: center;
        }
        .b_shadow{
            box-shadow: 10px 10px 10px blueviolet;
        }
        .img_ratio{
            width: 400px;
            height: 400px;
        }
        .d_shadow{
            filter: drop-shadow(10px 15px 20px rgb(197, 40, 66));
        }

        .para1{
            border: 3px solid red;
        }

        .para2{
            border: 3px solid red;
            padding: 40px;
            margin: 60px;
        }
        .para3{
            border:3px solid red ;
            /* padding-left: 80px;
            padding-right: 50px;
            padding-top: 50px;
            padding-bottom: 80px; */
            padding: 50px 80px 50px 80px;
            margin: 50px 80px 50px 80px;
        }
        .img{
             border: 3px solid brown;
            padding: 50px;
            margin: 50px;
        }
        
       
